body{
  position: relative;
  z-index: 1;
}

/* ヘッダーの設定 */
header{
  background-color: rgba(29,161,242,1.00);
  height: 80px;
}

.header-container{
  text-align: center;
  line-height: 80px;
}

.header-title{
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

/* メインコンテンツのコンテナ設定 */
.main-container{
  padding: 20px 0;
  width: 100vw;
  background-color: #d1e1e462;
  /* ヘッダー・フッターの分だけ高さを減らす */
  height: calc(100vh - 120px);
}

/* フッターの設定 */ 
footer{
  /* bodyタグを参照にページ下固定 */
  position: absolute;
  z-index: 2;
  bottom: 0;
  height: 20px;
  background-color: rgba(57, 172, 244, 0.756);
  width: 100vw;
}

/* フッターの文字プロパティ */
.footer-title{
  line-height: 20px;
  font-size: 12px;
  color: #eeeeee;
  margin: 0;
  text-align: center;
}

/* 共通クラス用 */

/* 共通wrapper設定 */
.content-wrapper{
  height: 60vh;
  border-radius: 30px;
  margin: 0 50px;
  background-color: #ffffff;
  overflow: scroll;
  border: solid 0.5px #dddddd87; 
}

.app-discription{
  margin: 0 50px 20px 50px;
  color: #666666;
  margin-top: unset;
}

/* 共通ボタン*/
.btn{
  border-radius: 20px;
  background-color: rgba(29,161,242,1.00);
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  transition: all .3s;
  margin: 10px 0;
}

/* ボタンアニメーション */
.btn:hover{
  background-color: #ffffff;
  color: rgba(29,161,242,1.00);
  border: solid 1.5px rgba(29,161,242,1.00);
  opacity: 0.7;
  cursor: pointer;
}

/* ボタン色反転 */
.btn-reverse{
  background-color: #ffffff;
  color: rgba(29,161,242,1.00);
  border: solid 1.5px rgba(29,161,242,1.00);
}

/* 反転ボタンアニメーション */
.btn-reverse:hover{
  background-color: rgba(29,161,242,1.00);
  color: #ffffff;
  border: none;
  opacity: 0.7;
}

.back-btn{
  margin-left: 50px;
}

/* 
 * ここから各ビューファイル 
 * index アクション 
 */
.index-form{
  margin: 0 auto;
  padding: 30px;
  text-align: center; 
  height: 80%;
}

.index-keyword-input{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 40px;
  padding: 10px 15px;
  font-size: 25px;
  width: 80%;
  border-radius: 10px;
}

.index-submit-btn{
  display: inline-block;
  margin-top: 30px; 
  padding: 15px 40px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 30px;
}

/* 
 * resultアクション
 * result-〇〇 
 */
.result-contents{
  padding: 0 25px;
}

.result-contents-header{
  text-align: center;
}

.result-users-container{
  border-top: solid 0.5px #89898987;
}

.result-error-message{
  color: rgb(255, 101, 101);
}

.result-user-wrapper{
  padding: 10px 30px;
  transition: all 300ms 0s ease;
  border-bottom: solid 0.5px #89898987;
}

.result-user-wrapper:hover{
  opacity: 0.8;
  background-color: #a4dafc85;
}

.result-user-image{
  height: 80px;
  width: 80px;
  border-radius: 80px;
}

.result-user-link{
  text-decoration: none;
  color: #333333;
  transition: all 300ms;
}

.result-user-name{
  margin: 0;
}

.result-user-left{
  margin-right: 25px;
}

.result-user-contents{
  display: flex;
}

/* 
 * ここからshowアクション
 * show-user-〇〇
 */
.show-user-contents{
  padding: 20px 80px;
}

.show-user-image{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.show-user-header{
  display: flex;
}

.show-user-header-right{
  padding-left: 50px;
  padding-top: 10px;
}

.show-user-name{
  margin: unset;
}

.show-user-screen-name{
  margin: unset;
  padding-left: 2px;
}

.show-user-ff-count{
  display: flex;
}

.show-user-body{
  border-bottom: solid 0.5px #89898987;
}

.show-user-follow{
  font-weight: bold;
  padding-right: 20px;
}

.show-user-ff-count-span{
  font-size: 12px;
  font-weight: normal;
}

.show-user-footer{
  text-align: center;
}

.show-user-img-btn{
  font-size: 25px;
  font-weight: bold;
  padding: 15px 30px; 
  margin-top: 20px;
  border-radius: 25px;
  display: inline-block;
  text-decoration: none;
}

.show-user-url{
  font-size: 14px;
  color: gray;
}

/* 
 * ここからtweet_imageアクション 
 * tweet-image-〇〇
 */

.tweet-image-container{
  padding: 0 50px 50px 50px;
}
.tweet-image-body{
  padding: 0 50px;
}
.tweet-image-title{
  text-align: center;
  border-bottom: solid 0.5px #89898987;
  padding: 40px 0;
}

/*
 * 画像付きツイート情報のcss
 * tweet-data-〇〇
 */
.tweet-data-container{
  padding: 30px 0;
  border-bottom: solid 0.5px #89898987;

}

.tweet-data-header{
  display: flex;
}

.tweet-data-name{
  margin: unset;
  padding-top: 10px;
}

.tweet-data-image{
  width: 400px;
  height: auto;
  padding: 10px;
}
.tweet-data-screen-name{
  margin: unset;
  padding-top: 15px;
}
.tweet-data-profile-image{
  height: 80px;
  width: 80px;
  border-radius: 80px;
  margin-right: 20px;

}

.tweet-data-images-container{
  display: flex;
  flex-wrap: wrap;
}

.tweet-data-date{
  color: #777777;
  font-size: 12px;
}

/* レスポンシブ */
@media screen and (max-width:700px){
  /* 全体用 */
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }
  p{
    font-size: 14px;
  }

  /* showアクション */
  .show-container{
    height: 50%;
  }

  .show-user-contents{
    padding: 20px 40px;
  }

  .show-user-image{
    height: 70px;
    width: 70px;
    border-radius: 70px;
  }

  .show-user-header-right{
    padding-left: 25px;
    padding-top: 5px;
  }

  .show-user-img-btn{
    font-size: 16px;
    padding: 12px 20px; 
  }

  /* tweet_imageアクション */
  .tweet-image-body{
    padding: unset;
  }

  .tweet-data-container{
    padding: unset;
    padding-top: 10px;
  }

  .tweet-data-name{
    padding: unset;
  }

  .tweet-data-image{
    width: 300px;
    height: auto;
  }
}

@media screen and (max-width:500px){
  h1{
    font-size: 20px;
  }
  h2{
    font-size: 16px;
  }
  h3{
    font-size: 14px;
  }
  p{
    font-size: 11px;
  }

  .content-wrapper{
    margin: 0 30px;
  }

  /* tweets/indexアクション */
  .index-container{
    height: 55%;
  }

  /* tweets/showアクション */
  .show-container{
    height: 55%;
  }

  .show-user-contents{
    padding: 25px;
  }

  .show-user-ff-count-span{
    font-size: 8px;
  }

  .show-user-img-btn{
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0; 
  }

  /* tweets/resultアクション */
  .result-user-wrapper{
    padding: 5px;
  }
  .result-user-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
  .result-user-left{
    margin-right: 10px;
  }


  /* tweets/tweet_imageアクション */
  .tweet-data-profile-image{
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
  .tweet-image-title{
    padding: 10px 0;
  }

  .tweet-image-container{
    padding: 0 20px;
  }

  .tweet-data-image{
    width: 220px;
    height: auto;
  }

  .tweet-data-date{
    font-size: 9px;
  }
}

@media screen and (max-width:400px){
  /* css全体 */
  h1{
    font-size: 18px;
  }
  h2{
    font-size: 14px;
  }
  h3{
    font-size: 12px;
  }
  p{
    font-size: 10px;
  }

  .content-wrapper{
    margin: 0 20px;
  }

  /* tweets/indexアクション */
  .index-keyword-input{
    line-height: 25px;
    font-size: 18px;
  }

  .index-container{
    height: 50%;
  }

  .index-submit-btn{
    font-size: 18px;
    padding: 10px 25px;
  }

  /* tweets/showアクション */
  .show-container{
    height: 50%;
  }

  .show-user-contents{
    padding: 30px 15px;
  }

  .show-user-image{
    height: 60px;
    width: 60px;
    border-radius: 60px;
  }

  .show-user-img-btn{
    font-size: 14px;
    padding: 10px 15px;
  }

  /* tweets/tweet_imageアクション */
  .tweet-data-image{
    width: 150px;
    height: auto;
  }

  .tweet-data-date{
    font-size: 7px;
  }
}